<h1>新規投稿</h1>

<!--form_with部分-->
<!--Listモデルの情報をもとに新しくオブジェクトを作成する-->
<!--List.new→＠listに修正-->
<!--どのURLへどのHTTPメソッドで送信するか厳密に指定-->
<%= form_with model: @list, url: '/lists', method: :post do |f| %>
  <!--タイトル-->
  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <!--本文-->
  <h4>本文</h4>
  <%= f.text_area :body %>

  <!--画像投稿-->
  <h4>画像</h4>
  <!--ファイルフィールドを使用、画像以外にもファイルなら何でも投稿できる→accept～により、画像のみに制約している-->
  <%= f.file_field :image, accept: "image/*" %>

  <!--投稿ボタン-->
  <%= f.submit '投稿' %>


<% end %>