<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--フォントを読み込むための記述を追加-->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    
  </head>

  <body>
    <!--レイアウト変更のために追加-->
    <header>

      <h1 class="headline">All Lists</h1>

    </header>

    <nav>

      <ul class="nav-list">

        <li class="nav-list-item">
          <%= link_to "Top", top_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "Lists", lists_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "New List", new_list_path %>
        </li>

      </ul>

    </nav>

    <!--おそらくここの何かが間違っていて、｛｝が画面に表示されてしまう-->
    <main>
      <div>
        <%= flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    <%= yield %>
    </main>

  </body>
</html>
